geopandas
setuptools
pandas
numpy
SQLAlchemy
psycopg2-binary
sqlparse
scipy
pandapower
openpyxl
xlrd
python-dotenv
matplotlib
plotly
nbformat
seaborn
contextily
igraph
sphinx-autoapi
sphinx-js
sphinx-rtd-theme
geoalchemy2
scikit-learn
factor-analyzer
PyYAML
requests
osm2geojson
autopep8
isort
autoflake
certifi
osmnx
pyrosm
